@model PMSMaster.Entity.Models.KPIIndicator

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!---bredcrumb start-->
<div class="viewport-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb has-arrow">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Manage KPI Indicator</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit KPI Indicator</li>
        </ol>
    </nav>
</div>
<!--breadcrumb end-->
<!--Body Data-->
<div class="row">
    <div class="col-12 pt-1 pb-4 d-flex justify-content-between align-items-center"><h4>Edit KPI Indicator</h4> 
        <a href="@Url.Action("Index", "KPIIndicator", new { area="Admin"})" class="btn btn-blue  w-80 h-35"> <button class="btn btn-blue  w-80 h-35" data-toggle="modal" data-target="#termcondition">View All KPI Indicator</button> </a>
    </div>
</div>
<!--table row-->
<div class="row">
    <div class="col-lg-12">
        <div class="grid">
            <div class="d-flex justify-content-between align-items-center grid-header mb-0">
                <p class="card-title">Edit KPI Indicator</p>
            </div>
            <div class="grid-body pb-4">
                <div class="item-wrapper">
                    @using (Html.BeginForm("Edit", "KPIIndicator", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.KPIIndicatorId)

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="inputEmail1">KPI Indicator Title</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Title" })
                                <span class="YError">@Html.ValidationMessageFor(x => x.Title)</span>
                            </div>

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label for="inputEmail1">Active</label>
                                <div class="form-inline">
                                    @Html.CheckBoxFor(x => x.Status, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-sm btn-primary">Update KPI Indicator</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

